global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['192.168.122.59:9100', '192.168.122.60:9100', '192.168.122.61:9100', '192.168.122.62:9100', '192.168.122.63:9100', '192.168.122.64:9100', '192.168.122.65:9100']
